<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <script src="https://kit.fontawesome.com/80c3aa547d.js" crossorigin="anonymous"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Travel Ville</title>
</head>
<body id="home" class="scrollspy">
<!--Navbar-->
<div class="navbar-fixed">
    <nav class="teal">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Travelville</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icon">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#search">Search</a>
                    </li>
                    <li>
                        <a href="#popular">Popular Places</a>
                    </li>
                    <li>
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-nav">
    <li>
        <a href="#home">Home</a>
    </li>
    <li>
        <a href="#search">Search</a>
    </li>
    <li>
        <a href="#popular">Popular Places</a>
    </li>
    <li>
        <a href="#gallery">Gallery</a>
    </li>
    <li>
        <a href="#contact">Contact</a>
    </li>
</ul>
<div>
    {% block content %}
    {% endblock %}
</div>
<!--Section: Slider-->
<footer class="section teal darken-2 white-text center">
    <p class="flow-text"> Ravikant, Veronika, Victor </p>
    <h6> July 2020 </h6>
</footer>
</body>
</html>